body {
  margin: 0px;
  padding: 0px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Circular Std;
  background-image: url(./resources/Frame\ 106.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



/* status bar icons */
.status-bar {
  list-style: none;
  display: flex;
  height: 46px;
  margin: 0px;
  align-items: center;
  gap: 5px;
  padding: 0px;
}

li:first-child {
  margin-right: auto;
  margin-left: 41.32px;
}

li:last-child {
  margin-right: 24.71px;
}


/* navigation bar  */
.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.38);
  backdrop-filter: blur(71px);
  padding: 7px 10px;
}


.nav-menu{
  /* display: inline-flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 0px;
  margin: 0px;
}

/* 
li{
  display: flex;
  justify-content: space-between;
} */


.nav-item{
  display: none;
}

/* navigation bar button  */
button {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 14px 14px 14px 24px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: black;
}

/* hero text  */
.elegant-text {
  display: flex;
  justify-content: center;
  font-family: times;
  font-size: 52px;
  font-style: normal;
  height: 61px;
  margin: 0px;
}

.welcome-text {
  text-align: center;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  margin: 4px 35px;
}

/* image positionings  */
.image1,
.image2,
.image3,
.image4,
.image5 {
  margin: 16px;
}

.image1 img,
.image2 img,
.image3 img,
.image4 img,
.image5 img {
  max-width: 100%;
  max-height: 100%;
}

/* about me  */

.about-container {
  margin: 0px 16px;
  background: url(./resources/62608.svg) center/cover no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
}

.about-container h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}

.about-info {
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
}

#more-info {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #08ffff 0.14%,
    rgba(8, 33, 255, 0.73) 33.7%,
    rgba(143, 0, 231, 0.77) 64.87%,
    #ff08d7 99.89%
  );
  font-size: 12px;
  font-weight: 700;
  gap: 8px;
}

 /* .nav-logo{
  padding: 0px;
  margin: 0px;
 } */



/* responsiveness  */

@media only screen and (min-width: 768px) {


  .container{
    align-items: center;
    justify-content: center;
  }

  .status-bar{
    display: none;
  }

  .navbar{
    display: inline-flex;
    height: 95px;
    width: 610px;
    padding: 0px 19px;
    margin: 49px;
    gap: 50px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(122, 3, 79, 0.27);
    backdrop-filter: blur(225px);
  }
  
  ul{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .hero{
    display: inline-flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .welcome-text{
    align-items: center;
    justify-content: left;
  }


}
